---
import VoteRow from "./VoteRow.astro";
const { vote_data } = Astro.props;
---
<div class="flex gap-16">
  <div class="relative">
    <img src="/asset/img/vote.svg" alt="" class="w-96"/>
  </div>
  <div class="flex flex-col gap-2 flex-wrap">

    <!-- {vote_data.map((row) =>(<VoteRow index={1} title={row.data} value={row.value}/>))}  -->
  
    <VoteRow index={1} title={vote_data[0].title} value={vote_data[0].value}/>
    <VoteRow index={2} title={vote_data[0].title} value={vote_data[0].value}/>
    <VoteRow index={3} title={vote_data[0].title} value={vote_data[0].value}/>
    <VoteRow index={4} title={vote_data[0].title} value={vote_data[0].value}/>
    <VoteRow index={5} title={vote_data[0].title} value={vote_data[0].value}/>
    <VoteRow index={6} title={vote_data[0].title} value={vote_data[0].value}/>
    <VoteRow index={7} title={vote_data[0].title} value={vote_data[0].value}/>
  </div>
</div>


<style>
  .vote-wrapper{
    display: flex;
    flex-direction: row;
    gap: 128px;
  }
  .vote-wrapper::before{
  display: block;
  /* position: absolute; */
  content: " ";
  width: 480px;
  height: 480px;

  background-image: url("/asset/img/vote.svg");
  background-size: cover;

}
  .Vote_block {
  padding: 0px 0px 0px 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 703px;
  position: relative;
  }

  


</style>