---
import Avatar from "../Avatar.astro";
const {mail, name, post, photo, location, status, phone, ext} = Astro.props;
---
<tr class="group flex flex-wrap py-2 md:py-1  md:table-row justify-between hover:bg-slate-200">
    
    
    <td class="px-4 py-0.5 md:py-0.5 text-sm text-gray-900 whitespace-nowrap" 
    >
        <Avatar name={name} mail={mail} status={status} post={post} photo={photo} />
    </td>
    <td class="ml-14 md:px-4 py-0.5 md:py-0.5 text-xs md:text-sm text-gray-900 order-3" >{post}</td>
    <td class="px-4 py-0.5 md:py-0.5 text-sm font-medium text-gray-700 whitespace-nowrap ">
        <div class="flex gap-4 content-center">

            <div class="ml-10 text-xs md:text-sm self-center">{phone}</div>
            <div class="inline-flex items-center px-2 rounded-full gap-x-2 bg-gray-300 cursor-pointer group-hover:bg-accent-400">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 17 16" fill="none" class="fill-gray-900">
                    <path d="M12.3229 9.80101L9.57737 10.333C7.7229 9.40221 6.57737 8.33301 5.91071 6.66634L6.42401 3.91294L5.45372 1.33301L3.63961 1.33301C2.51207 1.33301 1.6249 2.26543 1.83763 3.37273C2.20658 5.2932 3.09838 8.18735 5.24404 10.333C7.50006 12.589 10.6394 13.7093 12.721 14.2374C13.8764 14.5306 14.9107 13.6238 14.9107 12.4318L14.9107 10.7872L12.3229 9.80101Z"/>
                  </svg>
                <h2 class="text-xs md:text-sm font-normal ">{ext}</h2>
            </div>
        </div>
    </td>
    <td class="md:px-4 py-0.5 md:py-0.5 text-xs md:text-sm text-gray-900 whitespace-nowrap self-center order-4">{location}</td>

</tr>
