---
interface MyInterface {
    [key: string]: any;
}
import { getCollection, getEntry } from 'astro:content';
import NewsCard from "../components/NewsCard.astro";
import Badge from "../components/Badge.astro";
import Button from "../components/Button.astro";
import Appbar from '../components/Appbar3.astro'
import Breadcrumbs from '../components/Breadcrumbs.astro'
import Layout from '../layouts/Layout_markdown.astro';
import Markdown_layout from '../layouts/Layout_markdown_item.astro';


const allBlogPosts = await getCollection('articles');
  
// создаем словарь
let sortedPosts:any = Object();

// забираем все категории из коллекции статей и собираем обьект js
allBlogPosts.forEach((obj) => { 
let cat = obj.id.substring(0, obj.id.indexOf("/"));
if (sortedPosts[cat]) {
    sortedPosts[cat].push(obj);
} else {
    sortedPosts[cat] = [obj];
}
});
// Object.keys(sortedPosts).map(entry => ({
//     params: { slug: entry }, props: { "header":entry,"articles": sortedPosts},
//   }
//   ));
// при сборке принимаем заголовок и список статей этой категории
// const { header, articles } = Astro.props;
const posts=[
  {
    title: "Выпущена новая линейка экологически чистых сантехнических решений",
    post: "Ведущая компания по производству инженерного сантехнического оборудования выпустила новую линейку экологичных продуктов, предназначенных для снижения потребления воды и обеспечения экологической безопасности. Инновационные решения включают в себя смесители с низким расходом воды, водосберегающие душевые лейки и энергоэффективные водонагреватели, позволяющие клиентам минимизировать воздействие на окружающую среду без ущерба для производительности.",
    date:"14.10.2023 10:18",
    category: "PROчитай" 
  },
  {
    title: "Партнерство с ведущей строительной фирмой для предоставления комплексных сантехнических решений",
    post: "В рамках стратегического курса на комплексное обслуживание своих клиентов компания, производящая инженерное сантехническое оборудование, заключила партнерство с ведущей строительной фирмой. Сотрудничество позволит компании предоставлять комплексные сантехнические решения для крупномасштабных проектов, предлагая клиентам из строительной отрасли универсальное решение.",
    date:"17.10.2023 14:25",
    category: "Развитие" 
  },
  {
    title: "Запущена ведущая в отрасли программа обучения специалистов-сантехников",
    post: "Осознавая важность квалифицированных специалистов в области сантехники, компания, производящая инженерное сантехническое оборудование, представила ведущую в отрасли программу обучения. Программа направлена на повышение уровня знаний и навыков специалистов-сантехников, ознакомление их с новейшими методиками и передовым опытом установки и обслуживания продукции компании.",
    date:"26.10.2023 12:37",
    category: "Обучение" 
  },
  {
    title: "Новая линейка клапанов высокого давления для промышленного применения",
    post: "Компания, производящая инженерное сантехническое оборудование, представила новую линейку клапанов высокого давления, специально разработанных для применения в промышленности. Эти клапаны рассчитаны на эксплуатацию в экстремальных условиях и обеспечивают надежную и эффективную работу в сложных условиях, что делает их идеальными для использования на заводах, электростанциях и других промышленных объектах.",
    date:"14.10.2023 10:18",
    category: "Новинки ассортимента" 
  },
  {
    title: "Инновационные решения в области водоподготовки для устойчивого строительства",
    post: "Для поддержки растущего спроса на экологичные методы строительства компания, производящая инженерное сантехническое оборудование, разработала инновационные решения в области водоподготовки. Эти решения помогают подрядчикам и застройщикам соблюдать экологические нормы и снижать воздействие на местные источники воды за счет эффективной очистки и повторного использования воды на строительных площадках.",
    date:"17.10.2023 14:25",
    category: "Иновации" 
  },
  {
    title: "Партнерство с ведущими архитекторами для проектирования интеллектуальных сантехнических систем",
    post: "В рамках совместной работы по созданию более эффективных и экологичных зданий компания, производящая инженерное сантехническое оборудование, заключила партнерство с группой ведущих архитекторов. Целью партнерства является разработка интеллектуальных сантехнических систем, интегрированных с системами автоматизации и управления зданием, оптимизирующих использование воды и повышающих общую энергоэффективность.",
    date:"26.10.2023 12:37",
    category: "Стратегия" 
  },
];
---
<Layout title="База знаний">
  

  <!-- <div class="max-w-screen-xl mx-auto pt-16 relative">
    <div class="flex flex-col gap-2">
        <Breadcrumbs level1="Короткометражки" level2="Короткометражки" class="-ml-4"></Breadcrumbs>
        <h1 class="text-3xl uppercase font-black tracking-wide">Короткометражки</h1>
    </div>
  </div> -->
  <div class="px-16 flex pb-4 gap-32 min-h-screen w-full  justify-center items-center max-w-screen-xl mx-auto">
    <div class="relative rounded-4xl max-w-[40%]">
      <img src="/santech-portal/img/news_1.png" alt="" class="rounded-4xl _outline"/>
      <img src="/santech-portal/img/news_1.png" alt="" class="rounded-4xl blur-xl scale-110 absolute top-0 -z-10 opacity-50"/>
    </div>
    <div class="flex flex-col">
      <Badge text={posts[0].category}/>
      <h2 class="pl-2 font-extrabold text-4xl tracking-wide uppercase max-w-2xl py-2">{posts[0].title}</h2>
      <span class="pl-2 text-xs font-normal tracking-wide ">
        {posts[0].date}
      </span>
      <div class="pl-2 flex flex-col py-16  prose normal-case leading-loose font-normal pr ">
        {posts[0].post}
      </div>
      <Button url="/santech-portal/Короткометражки#scroll-driver" title="Другие новости" class="transition-all bg-accent-400 hover:bg-accent-300 hover:shadow-active text-xs md:text-base"></Button>
    </div>

  </div>
  <Appbar/>
  <div id="scroll-driver" class="grid grid-4-col gap-16 mx-auto max-w-screen-xl px-16 py-16">
    <!-- scoll-driven-element-scale -->

    <!-- {posts.map(post => (
          <div class="flex flex-col my-6 pb-4  bg-gray-200 rounded-3xl gap-2 shadow-xl  transition-all min-w-[32rem] max-w-screen-sm basis-1 grow">
            <div class="max-h-64 overflow-hidden rounded-t-3xl scale-100">
              <img src="/santech-portal/img/news_1.png" alt="" class=""/>
            </div>
            <div class="flex flex-col p-2 py-3 md:p-4">
              <div class="flex justify-between items-center pl-2 pb-2 md:pb-1">
                <Badge text={post.category}/>
                <span class="text-xs">
                  26.10.2023 14:25
                </span>
              </div>
              <div class="pl-3 pb-2 leading-4">
                <h3 class="text-xs md:text-lg font-extrabold pb-2 md:leading-5">{post.title}</h3>
                <p class="text-xs md:text-sm">{post.post}</p>
              </div>
             
            </div>
          
          </div>
    ))} -->
    <!-- {posts.map(post => (
          <div class="flex flex-col my-6 pb-4  bg-gray-200 rounded-3xl gap-2 shadow-xl  transition-all min-w-[32rem] max-w-screen-sm basis-1 grow">
            <div class="max-h-64 overflow-hidden rounded-t-3xl scale-100">
              <img src="/santech-portal/img/news_1.png" alt="" class=""/>
            </div>
            <div class="flex flex-col p-2 py-3 md:p-4">
              <div class="flex justify-between items-center pl-2 pb-2 md:pb-1">
                <Badge text={post.category}/>
                <span class="text-xs">
                  26.10.2023 14:25
                </span>
              </div>
              <div class="pl-3 pb-2 leading-4">
                <h3 class="text-xs md:text-lg font-extrabold pb-2 md:leading-5">{post.title}</h3>
                <p class="text-xs md:text-sm">{post.post}</p>
              </div>
             
            </div>
          
          </div>
    ))} -->


    <!-- <div class="scoll-driven-element flex flex-col my-6 pb-4 odd:col-span-2  bg-gray-200 rounded-3xl gap-2 shadow-xl  transition-all min-w-[32rem] max-w-screen-sm basis-1 grow">
      <div class="max-h-64 overflow-hidden rounded-t-3xl scale-100">
        <img src="/santech-portal/img/news_1.png" alt="" class=""/>
      </div>
      <div class="flex flex-col p-2 py-3 md:p-4">
        <div class="flex justify-between items-center pl-2 pb-2 md:pb-1">
          <Badge/>
          <span class="text-xs">
            26.10.2023 14:25
          </span>
        </div>
        <div class="pl-3 pb-2 leading-4">
          <h3 class="text-xs md:text-lg font-extrabold pb-2 md:leading-5">HHIhh jfeo joioefw fjjo e </h3>
          <p class="text-xs md:text-sm">roll swept built information stared fifty determine soil nest announced origin sing generally country about vast finger sister wrong solid happy joy find physical1</p>
        </div>
        <Button url="/santech-portal/Короткометражки" title="Подробнее" class="transition-all hover:bg-gray-100 hover:shadow-md text-xs md:text-base"></Button>
      </div>
    
    </div> -->
    {[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,11,1,11,1,1,].map((index)=>(
      <div class="p-4 rounded-3xl  _outline min-w-min ">
        <h3>Партнерство с ведущей строительной фирмой для предоставления комплексных сантехнических решений</h3>
        <p>roll swept built information stared fifty determine soil nest announced origin sing generally country about vast finger sister wrong solid happy joy find physical1</p>
        <Button url="/santech-portal/Короткометражки" title="Подробнее" class="transition-all hover:bg-gray-100 hover:shadow-md text-xs md:text-base"></Button>
      </div>
    ))}
   


  
</Layout>
<style>
@supports(animation-range: 0vh 40vh) {

    @keyframes move-and-size {
        from {
          transform: scale(1.3);
          opacity: 0;
          /* filter: blur(12px); */
            /* background-position: 50% 0; */
        }

        to {
            /* background-position: 50% 100%; */
            transform: scale(1);
            opacity: 1;
            /* height: 10vh; */
        }
    }


    #scroll-driver {
        /* animation: move-and-size linear forwards; */
        view-timeline-name: --header-block;
        
        /* animation-timeline: scroll(); */
        /* animation-range: 00vh 60vh; */
    }
    .scoll-driven-element-scale{
      animation: move-and-size ease-in forwards;
      /* animation-timeline: --header-block; */
      animation-timeline: view(block 80% 0%);
      /* animation-range: exit-crossing 0vh  exit-crossing 120vh; */
    }
}

</style>


