---
import { getCollection } from "astro:content";

import Badge from "../components/Badge.astro";
import Card from "../components/GridCard.astro";
import Gallery from "../components/Gallery.astro";
import Appbar from "../components/Appbar.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Layout from "../layouts/Layout.astro";


import HTMLSample from "../data/textsample.html";
import Footer from '../components/Footer.astro';

const allBlogPosts = await getCollection("articles");

// создаем словарь
let sortedPosts: any = Object();

// забираем все категории из коллекции статей и собираем обьект js
allBlogPosts.forEach((obj) => {
  let cat = obj.id.substring(0, obj.id.indexOf("/"));
  if (sortedPosts[cat]) {
    sortedPosts[cat].push(obj);
  } else {
    sortedPosts[cat] = [obj];
  }
});
// Object.keys(sortedPosts).map(entry => ({
//     params: { slug: entry }, props: { "header":entry,"articles": sortedPosts},
//   }
//   ));
// при сборке принимаем заголовок и список статей этой категории
// const { header, articles } = Astro.props;

// ["badge-indigo","badge-blue","badge-orange","badge-yellow","badge-green","badge-red"]
const catagories = [
  {
    name: "PROчитай",
    
    colorClass: "badge-red",
    data_attribute: "red",
  },
  {
    name: "Развитие",
    colorClass: "badge-blue",
    data_attribute: "blue",
  },
  {
    name: "Обучение",
    colorClass: "badge-orange",
    data_attribute: "orange",
  },
  {
    name: "Новинки ассортимента",
    colorClass: "badge-yellow",
    data_attribute: "yellow",
  },
  {
    name: "Инновации",
    colorClass: "badge-green",
    data_attribute: "green",
  },
  {
    name: "Стратегия",
    colorClass: "badge-indigo",
    data_attribute: "indigo",
  },
  {
    name: "Стратегия2",
    colorClass: "badge-teal",
    data_attribute: "teal",
  },
];

const posts = [
  {
    title: "Выпущена новая линейка экологически чистых сантехнических решений",
    post: "Ведущая компания по производству инженерного сантехнического оборудования выпустила новую линейку экологичных продуктов, предназначенных для снижения потребления воды и обеспечения экологической безопасности. Инновационные решения включают в себя смесители с низким расходом воды, водосберегающие душевые лейки и энергоэффективные водонагреватели, позволяющие клиентам минимизировать воздействие на окружающую среду без ущерба для производительности.",
    date: "14.10.2023 10:18",
    category: catagories[0],
    url: "https://cdn.midjourney.com/6490cc15-0005-4a48-ace7-a3a431b7d0e5/0_2.png"
  },
  {
    title:
      "Партнерство с ведущей строительной фирмой для предоставления комплексных сантехнических решений",
    post: "В рамках стратегического курса на комплексное обслуживание своих клиентов компания, производящая инженерное сантехническое оборудование, заключила партнерство с ведущей строительной фирмой. Сотрудничество позволит компании предоставлять комплексные сантехнические решения для крупномасштабных проектов, предлагая клиентам из строительной отрасли универсальное решение.",
    date: "17.10.2023 14:25",
    category: catagories[1],
    url: "https://cdn.midjourney.com/f7c252a9-2a5f-4fc1-90c9-6feca42c59bf/0_3.png"
  },
  {
    title:
      "Запущена ведущая в отрасли программа обучения специалистов-сантехников",
    post: "Осознавая важность квалифицированных специалистов в области сантехники, компания, производящая инженерное сантехническое оборудование, представила ведущую в отрасли программу обучения. Программа направлена на повышение уровня знаний и навыков специалистов-сантехников, ознакомление их с новейшими методиками и передовым опытом установки и обслуживания продукции компании.",
    date: "26.10.2023 12:37",
    category: catagories[2],
    url: "https://cdn.midjourney.com/28abed28-9b27-4c44-81c8-287031d59326/0_3.png"
  },
  {
    title:
      "Новая линейка клапанов высокого давления для промышленного применения",
    post: "Компания, производящая инженерное сантехническое оборудование, представила новую линейку клапанов высокого давления, специально разработанных для применения в промышленности. Эти клапаны рассчитаны на эксплуатацию в экстремальных условиях и обеспечивают надежную и эффективную работу в сложных условиях, что делает их идеальными для использования на заводах, электростанциях и других промышленных объектах.",
    date: "14.10.2023 10:18",
    category: catagories[3],
    url: "https://cdn.midjourney.com/fc8b51c7-b4cc-4e99-b0e2-e7ce462f6fb5/0_1.png"
  },
  {
    title:
      "Инновационные решения в области водоподготовки для устойчивого строительства",
    post: "Для поддержки растущего спроса на экологичные методы строительства компания, производящая инженерное сантехническое оборудование, разработала инновационные решения в области водоподготовки. Эти решения помогают подрядчикам и застройщикам соблюдать экологические нормы и снижать воздействие на местные источники воды за счет эффективной очистки и повторного использования воды на строительных площадках.",
    date: "17.10.2023 14:25",
    category: catagories[4],
    url: "https://cdn.midjourney.com/bfe5118f-5e69-4e0d-a40e-1a2f67cdfd65/0_1.png"
  },
  {
    title:
      "Партнерство с ведущими архитекторами для проектирования интеллектуальных сантехнических систем",
    post: "В рамках совместной работы по созданию более эффективных и экологичных зданий компания, производящая инженерное сантехническое оборудование, заключила партнерство с группой ведущих архитекторов. Целью партнерства является разработка интеллектуальных сантехнических систем, интегрированных с системами автоматизации и управления зданием, оптимизирующих использование воды и повышающих общую энергоэффективность.",
    date: "26.10.2023 12:37",
    category: catagories[5],
    url: "https://cdn.midjourney.com/d386ca4e-bbbb-443e-af93-75f6fd82ed46/0_3.png"
  },
];
const random_post = posts[Math.round(Math.random()*5)];

const bg_img = "bg-[url(https://cdn.midjourney.com/6490cc15-0005-4a48-ace7-a3a431b7d0e5/0_2.png)]";
---

<Layout title="Короткометражки">
  <Appbar />
  
  <!--_Секция главной новости -->
  <div
    class="relative flex flex-col items-center justify-center w-full min-h-screen pb-4 mx-auto"
  >
    <div class="relative flex flex-col w-full mb-12 h-128">
      <div
        class="absolute inset-x-0 top-0 overflow-hidden group h-128 -z-10 rounded-b-4xl"
      >
        <div class:list={["absolute inset-0 z-10 backdrop-grayscale-[1]",random_post.category.colorClass]}></div>
        <div class:list={["absolute inset-0 bg-center bg-cover",bg_img]}></div>
      </div>
      <div class="w-full max-w-screen-lg py-8 mx-auto mt-auto">
        <h2
          class="max-w-4xl py-2 pl-2 text-4xl font-extrabold tracking-wide uppercase"
        >
          {random_post.title}
        </h2>
        <div class="flex items-center w-full gap-8 py-2">
          <Badge text={random_post.category.name} data-color={random_post.category.data_attribute}/>
          <span class="text-xs"> {random_post.date}</span>
        </div>
      </div>
    </div>
    
    <div class="flex flex-col max-w-screen-lg gap-4 pb-16">
      <div
        class="flex flex-col max-w-screen-lg pl-2 font-normal leading-loose prose normal-case md:prose-lg prose-p:leading-9 prose-p:tracking-wide"
      >
        <!--Сюда сырой html -->
        <HTMLSample/>
        <!--_Сюда сырой html -->
      </div>
      <Gallery/>
    </div>
  </div>
  <!--_/Секция главной новости  -->

  <!-- Заголовок  -->
  <div class="relative max-w-screen-xl pt-16 mx-auto">
    <div class="flex flex-col gap-2">
      <Breadcrumbs
        level1="Короткометражки"
        level2="Короткометражки"
        class="-ml-4"
      />
      <h2 class="text-3xl font-black tracking-wide uppercase">
        Короткометражки
      </h2>
    </div>
    <div class="absolute -bottom-64 h-96 w-96 -z-50 bg-gradient-to-b from-gray-300 to-gray-100 rounded-4xl rotate-12 right-16"></div>
  </div>
  <!--  -->

  <ul
    id="scroll-driver"
    class="grid max-w-screen-xl gap-8 py-16 mx-auto grid-4-col"
  >
    {[1, 1, 1, 1, 1, 1].map((index) => <Card post={posts[Math.round(Math.random()*5)]} />)}
  </ul>

  <div class="flex flex-col max-w-screen-xl mx-auto">
    {
      catagories.map((category) => (
        <section>
          <div class="flex items-center justify-between">
            <h3 class="text-2xl font-extrabold tracking-wide uppercase">
              <div class:list={["px-3 rounded-3xl", category.colorClass]}>{category.name}</div>
            </h3>
            <div class="flex gap-4">
              <a class="bg-gray-200 rounded-full cursor-pointer hover:bg-white">
                <svg class="w-6 h-6 md:w-8 md:h-8 "><use xlink:href="#ico_arrow_left"></use></svg>
              </a>
              <a class="bg-gray-200 rounded-full cursor-pointer hover:bg-white">
                <svg class="w-6 h-6 rotate-180 md:w-8 md:h-8"><use xlink:href="#ico_arrow_left"></use></svg>
              </a>
            </div>
          </div>
          <ul class="grid grid-cols-3 gap-4 py-8">
            {[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1].map((index) => (
              <!--_ShortNews-->
              <li class="flex max-w-lg gap-4 text-sm hover:bg-white hover:shadow-xl rounded-3xl shrink-1 basis-1">
                <a class="flex flex-col p-2 pl-3 cursor-pointer min-w-min">
                  <span class="text-xs">26.10.2023 14:25</span>
                  <h3 class="self-center font-normal leading-tight">
                    Партнерство с ведущей строительной фирмой для предоставления
                    комплексных сантехнических решений
                  </h3>
                </a>
              </li>

              <!--_ShortNews-->
            ))}
            
          </ul>
        </section>
      ))
    }
  </div>
  <Footer/>
</Layout>
