---
interface Event {
    day: number;
    month: string;
    time: string;
    location: string;
    title: string;
    post: string;
    url?: string;
    image?: string;
}

import Appbar from '../components/Appbar.astro'
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Card from "../components/GridCard.astro";
import Footer from '../components/Footer.astro';
import HTMLSample from "../data/textsample.html";
import Gallery from "../components/Gallery.astro";

const events:Event[] =[
    {
        day: 23,
        month: "октября",
        time:"08:00—10:00",
        location: "Корпус 4, кабинет 24",
        title: "Обучение Alcaplast",
        post: "В рамках совместной работы по созданию более эффективных и экологичных зданий компания, производящая инженерное сантехническое оборудование, заключила партнерство с группой ведущих архитекторов. Цель партнерства - разработать интеллектуальные сантехнические системы, интегрированные с системами автоматизации и управления зданием, оптимизирующие использование воды и повышающие общую энергоэффективность.",
        url: "/События",
        image: "/img/События/1.jpg"
    },
    {
        day: 24,
        month: "октября",
        time:"13:20",
        location: "Корпус 1, кабинет 11",
        title: "Обучение Alcaplast",
        post: "В рамках совместной работы по созданию более эффективных и экологичных зданий компания, заключила партнерство с группой ведущих архитекторов. Цель партнерства - разработать интеллектуальные сантехнические системы, интегрированные с системами автоматизации и управления зданием, оптимизирующие использование воды и повышающие общую энергоэффективность.",
        url: "/События",
        image: "/img/События/1.jpg"
    },
    {
        day: 26,
        month: "октября",
        time:"14:10",
        location: "Корпус 1, кабинет 16",
        title: "Обучение Alcaplast",
        post: "В рамках совместной работы по созданию более эффективных и экологичных зданий компания, производящая инженерное сантехническое оборудование, заключила партнерство с группой ведущих архитекторов. Цель партнерства - разработать интеллектуальные сантехнические системы, интегрированные с системами автоматизации и управления зданием, оптимизирующие использование воды и повышающие общую энергоэффективность.",
        url: "/События",
        image: "/img/События/1.jpg"
    },
    {
        day: 30,
        month: "октября",
        time:"14:50",
        location: "Корпус 3, кабинет 7",
        title: "Обучение Alcaplast",
        post: "В рамках совместной работы по созданию более эффективных и экологичных зданий компания, производящая инженерное сантехническое оборудование, заключила партнерство с группой ведущих архитекторов. Цель партнерства - разработать интеллектуальные сантехнические системы, интегрированные с системами автоматизации и управления зданием, оптимизирующие использование воды и повышающие общую энергоэффективность.",
        url: "/События",
        image: "/img/События/1.jpg"
    }
];
const bg_img = "bg-[url(https://cdn.midjourney.com/f7c252a9-2a5f-4fc1-90c9-6feca42c59bf/0_3.png)]";
---
<Layout title="База знаний">
  <Appbar/> 

  <!--_Секция главного события, аналогична странице короткометражек -->
  <div
    class="relative flex flex-col items-center justify-center w-full min-h-screen pb-4 mx-auto"
  >
    <div class="relative flex flex-col w-full mb-12 h-128">
      <div
        class="absolute inset-x-0 top-0 overflow-hidden group h-128 -z-10 rounded-b-4xl"
      >
        <div class:list={["absolute inset-0 z-10 backdrop-grayscale-[1]","badge-main"]}></div>
        <div class:list={["absolute inset-0 bg-center bg-cover",bg_img]}></div>
      </div>
      <div class="w-full max-w-screen-lg py-8 mx-auto mt-auto">
        <h2
          class="max-w-4xl py-2 pl-2 text-4xl font-extrabold tracking-wide uppercase"
        >
          {events[0].title}
        </h2>
        <div class="flex items-center w-full gap-8 py-2">
          <Badge text={`${events[0].day} ${events[0].month} ${events[0].time}`} class="badge-teal"/>
          <span class="text-xs"> {events[0].location}</span>
        </div>
      </div>
    </div>
    
    <div class="flex flex-col max-w-screen-lg gap-4 pb-16">
      <div
        class="flex flex-col max-w-screen-lg pl-2 font-normal leading-loose prose normal-case md:prose-lg prose-p:leading-9 prose-p:tracking-wide"
      >
        <!--Сюда сырой html -->
        <HTMLSample/>
        <!--_Сюда сырой html -->
      </div>
      <Gallery/>
    </div>
  </div>
  <!--_/Секция главной новости  -->

  <div class="max-w-screen-xl pt-16 mx-auto observe">

      <!-- Заголовок  -->
    <div class="relative max-w-screen-xl pt-16 mx-auto">
      <div class="flex flex-col gap-2">
        <h2 class="text-2xl font-extrabold tracking-wide uppercase">
          Другие ближайшие события
        </h2>
      </div>
      <div class="absolute -bottom-64 h-96 w-96 -z-50 bg-gradient-to-b from-gray-300 to-gray-100 rounded-4xl rotate-12 right-16"></div>
    </div>
    <!--  -->
    <ul
        id="scroll-driver"
        class="grid max-w-screen-xl gap-8 py-16 mx-auto grid-4-col"
      >
        { events.slice(1).map((event) => <Card post={
          {
            title: event.title,
            post: event.post,
            date: `${event.day} ${event.month} ${event.time}`,
            category: {
              name: `${event.day} ${event.month} ${event.time}`,
              colorClass: "badge-main",
            },
            url: "https://cdn.midjourney.com/6490cc15-0005-4a48-ace7-a3a431b7d0e5/0_2.png"
          }
          } />)}
    </ul>

    <section>
      <div class="flex items-center justify-between">
        <h3 class="text-2xl font-extrabold tracking-wide uppercase">
          <div class:list={["px-3 rounded-3xl", ""]}>Прошедшие события</div>
        </h3>
        <div class="flex gap-4">
          <a class="bg-gray-200 rounded-full cursor-pointer hover:bg-white">
            <svg class="w-6 h-6 md:w-8 md:h-8 "><use xlink:href="#arrow_left"></use></svg>
          </a>
          <a class="bg-gray-200 rounded-full cursor-pointer hover:bg-white">
            <svg class="w-6 h-6 rotate-180 md:w-8 md:h-8"><use xlink:href="#arrow_left"></use></svg>
          </a>
        </div>
      </div>
      <ul class="grid grid-cols-3 gap-4 py-8">
        {[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1].map((index) => (
          <!--_ShortNews-->
          <li class="flex max-w-lg gap-4 text-sm hover:bg-white hover:shadow-xl rounded-3xl shrink-1 basis-1">
            <a class="flex flex-col p-2 pl-3 cursor-pointer min-w-min">
              <span class="text-xs">26.10.2023 14:25</span>
              <h3 class="self-center font-normal leading-tight">
                Партнерство с ведущей строительной фирмой для предоставления
                комплексных сантехнических решений
              </h3>
            </a>
          </li>

          <!--_ShortNews-->
        ))}
        
      </ul>
    </section>

 </div>
<Footer/>
</Layout>