---
import Button from "./Button.astro";
import Badge from "./Badge.astro";

const {post} = Astro.props;
const bg_img = "bg-[url(https://cdn.midjourney.com/6490cc15-0005-4a48-ace7-a3a431b7d0e5/0_2.png)]";
const category_color = "before:" + post.category.colorClass;

---  
<!--_HotNews-->
<li class="@container group flex gap-4 hover:bg-white hover:shadow-xl rounded-4xl overflow-hidden ">
    <a href="#" class="relative flex flex-col items-start justify-start w-full cursor-pointer">
        <div class:list={["absolute inset-0 h-full overflow-hidden -z-10 rounded-4xl"]}>
            <div class:list={["absolute inset-0 z-10 transition-opacity opacity-100 group-hover:opacity-0 backdrop-grayscale",post.category.colorClass]}></div>
            <div class:list={["absolute inset-0 bg-center bg-cover ",bg_img]}></div>
            <!-- <img src="" alt="" class="object-fill"/> -->
        </div>
        <div class="top-0 flex items-center justify-between w-full px-5 py-6 ">
          <Badge text={post.category.name} data-color={post.category.data_attribute}/>
          <span class="text-xs">{post.date}</span>
        </div>
        <div class="relative bottom-0 z-20 w-full mt-auto min-w-min ">
          <h3 class="z-10 self-center px-6 py-4 mt-auto font-bold leading-tight tracking-wider text-gray-900 uppercase shadow-sm">{post.title}</h3>
          <div class="absolute top-0 bottom-0 w-full transition-transform translate-y-full bg-white -z-10 group-hover:translate-y-0"></div>
        </div>
    </a>
</li>
<!--_HotNews -->