---
import cheerio from 'cheerio';
// import axios from 'axios';
// import JSDOM from 'jsdom';
// // const axios = require('axios');
// // const { JSDOM } = require('jsdom');

// async function getHtmlFromXPath(link, xpath) {
//   try {
//     const response = await axios.get(link);
//     const dom = new JSDOM(response.data);
//     const document = dom.window.document;
    
//     const xpathResult = document.evaluate(xpath, document, null, XPathResult.ANY_TYPE, null);
//     const node = xpathResult.iterateNext();
    
//     if (node) {
//       return node.outerHTML;
//     } else {
//       return 'Element not found';
//     }
//   } catch (error) {
//     console.error(error);
//     return 'Error occurred';
//   }
// }
// const cheerio = require('cheerio');
const html = `
<table style="width:100%; height:0px; " cellspacing="0">
<colgroup><col width="9">
<col width="88">
<col width="271">
<col width="105">
<col width="96">
<col width="607">
<col width="75">
<col>
</colgroup><tbody><tr>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R3">
<td><span></span></td>
<td class="R10C1"><span style="white-space:nowrap;max-width:0px;">Дата</span></td>
<td class="R10C1"><span style="white-space:nowrap;max-width:0px;">Плательщик&nbsp;</span></td>
<td class="R10C1"><span style="white-space:nowrap;max-width:0px;">ИНН&nbsp;</span></td>
<td class="R10C1"><span style="white-space:nowrap;max-width:0px;">Сумма</span></td>
<td class="R10C1"><span style="white-space:nowrap;max-width:0px;">Назначение&nbsp;платежа</span></td>
<td class="R10C1"><span style="white-space:nowrap;max-width:0px;">Номер&nbsp;п/п</span></td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "САНТЕХКОМПЛЕКТ"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">7736192449</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">100&nbsp;000&nbsp;000,00</span></td>
<td class="R11C1">Возврат депозита по Ген.согл N ДЕППИБ-23-761710-138 от 27.04.2023(заяв. 67 от 04.08.2023). НДС не облагается.</td>
<td class="R11C6">8879350</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "САНТЕХКОМПЛЕКТ"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">2311182879</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">5&nbsp;415&nbsp;971,41</span></td>
<td class="R11C1">Оплата по договору поставки за сантехнические изделия. В том числе НДС 20 % - 902661.90 рублей.</td>
<td class="R11C6">1501</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R13">
<td><span></span></td>
<td class="R13C1">07.08.2023</td>
<td class="R13C1">ООО "ГЕНЕРАЛЬНЫЙ ПОДРЯДЧИК-МФС"</td>
<td class="R13C3"><span style="white-space:nowrap;max-width:0px;">7704539433</span></td>
<td class="R13C3"><span style="white-space:nowrap;max-width:0px;">5&nbsp;298&nbsp;316,59</span></td>
<td class="R13C1">Опл.за ООО 100РА Лтд ИНН 5038096300 за ТМЦ по сч.N 15420743/SA от 26.07.2023 в сч в/р по дог.NД1815637/23 от 10.04.2023 РП N19233 от 28.07.2023 об: ул. Толбухина 2/4 в т.ч. НДС(20%) 883052-77</td>
<td class="R13C6">27786</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">Департамент финансов города Москвы (ООО "ИБТ"; л/с 7180671000452006)</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">7704818388</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">4&nbsp;000&nbsp;189,44</span></td>
<td class="R11C1">(0200)4000189-44.(1521)Оплата по счету №15415266/SA от 25.07.2023г труба,отвод,крышка,тройник,хомут,клапан. В т.ч НДС666698,24</td>
<td class="R11C6">59</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "ОбъектИнжиниринг"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">7720851720</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">3&nbsp;011&nbsp;716,96</span></td>
<td class="R11C1">Оплата по счетам № 15478946/SA от 03.08.2023 (2098479,19), 15468492/SA от 02.08.2023 (913237,77) за строительные материалы. Сумма 3011716-96 В т.ч. НДС  (20%) 501952-83</td>
<td class="R11C6">755</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "ТД ЕНИСЕЙПРОМ"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">2464226153</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">3&nbsp;000&nbsp;000,00</span></td>
<td class="R11C1">ОПЛ. ПО ДОГОВОРУ № 8/010/591-03 ОТ21.05.2017Г СУММА 3000000-00 В Т.Ч.НДС(20%) 500000-00</td>
<td class="R11C6">3258</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "Сантехкомплект" Р/С40702810707000000057</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">5259063670</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">3&nbsp;000&nbsp;000,00</span></td>
<td class="R11C1">Погашение задолженности за сантехническую продукцию по договору поставки ОРФ 019/6 от 09.01.2019В том числе НДС 20.00 % - 500000.00 р.</td>
<td class="R11C6">1867</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R13">
<td><span></span></td>
<td class="R13C1">07.08.2023</td>
<td class="R13C1">ООО "УРАЛЬСКИЙ ЦЕНТР САНТЕХНИЧЕСКОЙ КОМПЛЕКТАЦИИ "САНТЕХКОМПЛЕКТ-УРАЛ"</td>
<td class="R13C3"><span style="white-space:nowrap;max-width:0px;">6686052547</span></td>
<td class="R13C3"><span style="white-space:nowrap;max-width:0px;">2&nbsp;595&nbsp;355,01</span></td>
<td class="R13C1">Оплата по дог их № ОРФ 019/1 Аналитика 558166 (кредитная складская). В том числе НДС (20%), 432 559.17 руб.</td>
<td class="R13C6">6393</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R13">
<td><span></span></td>
<td class="R13C1">07.08.2023</td>
<td class="R13C1">ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ ГАЛСТЯН СЕВАК ВАЧАГАНОВИЧ</td>
<td class="R13C3"><span style="white-space:nowrap;max-width:0px;">143532106940</span></td>
<td class="R13C3"><span style="white-space:nowrap;max-width:0px;">2&nbsp;458&nbsp;852,08</span></td>
<td class="R13C1">ОПЛАТА ПО СЧЕТУ №15470248/SХ ОТ 02.08.2023Г ЗА САНТЕХТОВАР. В Т.Ч. НДС 20% - 409 808,68 РУБ.</td>
<td class="R13C6">7</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R3">
<td><span></span></td>
<td class="R20C1">07.08.2023</td>
<td class="R20C1">ООО "ГК "ЭНЕРГОКОНТРОЛЬ"</td>
<td class="R20C3"><span style="white-space:nowrap;max-width:0px;">7806274987</span></td>
<td class="R20C3"><span style="white-space:nowrap;max-width:0px;">2&nbsp;408&nbsp;027,49</span></td>
<td class="R20C1">Оплата за  фланцы дог.8/03/200129-2 от 29.01.2020г. В т.ч. НДС 20% - 401 337,91 руб.</td>
<td class="R20C6">649</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "ИНЖТЕПЛОПРОЕКТ"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">5003142130</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">2&nbsp;136&nbsp;677,76</span></td>
<td class="R11C1">Оплата по счету № 15456531/SA от 01.08.23 за фланцы и др. В том числе НДС 20 % - 356112.96 рублей.</td>
<td class="R11C6">2278</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО ТД "МТК"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">6501230824</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">2&nbsp;000&nbsp;000,00</span></td>
<td class="R11C1">Оплата по с/ф 12589569 от 19.06.23, за сантехнику. Сумма 2000000-00 В т.ч. НДС(20%) 333333-33</td>
<td class="R11C6">1575</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО ТД "МТК"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">6501230824</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;674&nbsp;934,68</span></td>
<td class="R11C1">Оплата по с/ф 12583829 от 15.06.23, за сантехнику. Сумма 1674934-68 В т.ч. НДС(20%) 279155-78</td>
<td class="R11C6">1582</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "ГИДРОПЛАСТ"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">1215203115</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;500&nbsp;000,00</span></td>
<td class="R11C1">ПО СЧЕТУ №15451465/SX ОТ 31.07.2023 ЗА САНТЕХТОВАРЫ. 1500000-00 РУБ. В Т.Ч. НДС (20%) 250000-00 РУБ.</td>
<td class="R11C6">1183</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R25">
<td><span></span></td>
<td class="R25C1">07.08.2023</td>
<td class="R25C1">УНП192539821 ООО АРДОНИКС//УЛ.ОДОЕВСКОГО,Д.131,ПОМ. 7 МИНСК,BY// р/с BY66MMBN30120000010102275030 в ОАО "Банк Дабрабыт" МИНСК</td>
<td class="R25C3"><span></span></td>
<td class="R25C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;481&nbsp;094,25</span></td>
<td class="R25C1">{VO10200} ОПЛАТА ЗА КЛАПАН СОГЛ. ДОГОВОРА ПОСТАВКИ 8/03/210920-2 ОТ 20.09.2021Г. НДС 0</td>
<td class="R25C6">91</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "ТКО-СТРОЙ"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">7720650397</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;463&nbsp;014,92</span></td>
<td class="R11C1">Оплата по счету № 15445583/SA от 31.07.2023 за сантехнические материалы, дог.№8/03/210118-2 от 18.01.2021 Сумма 1463014-92 В т.ч. НДС (20%) 243835-82</td>
<td class="R11C6">1374</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R27">
<td><span></span></td>
<td class="R27C1">07.08.2023</td>
<td class="R27C1">ЗАО БЕЛТЕПЛОМАШСТРОЙ //Г.МИНСК,УЛ ПОНОМАРЕНКО,Д.35,КОРП.А,ПОМ.119// БЕЛАРУС УНП190526229 р/с BY83BLBB30120190526229001006 в ОАО "БЕЛИНВЕСТБАНК" Г. МИНСК в ОАО "</td>
<td class="R27C3"><span></span></td>
<td class="R27C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;381&nbsp;099,42</span></td>
<td class="R27C1">{VO10200} ДОГ 8/03/190218-6 ОТ 18.02.2019 ОПЛАТА ЗА АРМАТУРУ . СПЕЦ.185 ОТ 11.07.23 Г.,186 ОТ 18.07.2023 Г. ПЛ-К БЕЛИНВЕСТБАНК" МИНСК</td>
<td class="R27C6">277</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "РУСКОН-С"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">6449049002</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;358&nbsp;824,20</span></td>
<td class="R11C1">Оплата по счету № 15239409/SX от 29.06.2023г. за клапаны, затворы. Сумма  1358824-20 руб. В т.ч. НДС (20%) 226470-70 руб.</td>
<td class="R11C6">7003</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "ИНЖТЕПЛОПРОГРЕСС"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">9715415698</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;296&nbsp;861,89</span></td>
<td class="R11C1">Оплата задолженности по счету № 15359883/SA от 18.07.2023 по дог. № 8/03/220511-1 от 11.05.2022 на ТМЦ, Прокшино 6 Сумма 1296861-89 В т.ч. НДС (20%) 216143-65</td>
<td class="R11C6">1001</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "МТК"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">6658461192</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;200&nbsp;000,00</span></td>
<td class="R11C1">ПРЕДОПЛ ПО СЧЁТУ №15490447/SX ОТ04.08.2023 ЗА ТМЦ ПО ДОГОВОРУ №8/03/200805-4 ОТ 05.08.2020. В Т.Ч. НДС20 % - 200000.00 РУБ.</td>
<td class="R11C6">810</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R3">
<td><span></span></td>
<td class="R20C1">07.08.2023</td>
<td class="R20C1">ООО ТД "МТК"</td>
<td class="R20C3"><span style="white-space:nowrap;max-width:0px;">6501230824</span></td>
<td class="R20C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;185&nbsp;768,36</span></td>
<td class="R20C1">Оплата по с/ф 12584381 от 15.06.23, за сантехнику. Сумма 1185768-36 В т.ч. НДС(20%) 197628-06</td>
<td class="R20C6">1576</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "ГК МОС"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">9705103636</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;176&nbsp;523,68</span></td>
<td class="R11C1">Оплата по счету №  15326368/SA от 12.07.2023 за сантехническое оборудование. Сумма 1176523-68 В т.ч. НДС  (20%) 196087-28</td>
<td class="R11C6">3168</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R25">
<td><span></span></td>
<td class="R25C1">07.08.2023</td>
<td class="R25C1">УНП190717701 'STROYMARKETGRUPP PUC,'Г.МИНСК,УЛ.РОГАЧЕВСКАЯ,Д.16,КОРП.1,БЕЛАРУСЬ BY27BLNB30120000045188000933 в "БНБ-Банк" ОАО</td>
<td class="R25C3"><span style="white-space:nowrap;max-width:0px;">9909091146</span></td>
<td class="R25C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;167&nbsp;073,95</span></td>
<td class="R25C1">{VO10200} ОПЛАТА ЗА САНИТАРНО-ТЕХНИЧЕСКИЕ ИЗДЕЛИЯ ПО ДОГОВОРУ 8/010/470-03 ОТ 06.03.2018Г. КОД ТНВЭД 8481 КПТ 2, ПО 1, БЕЗ НДС, КОД ВАЛЮТН ОЙ ОПЕРАЦИИ'V010200'</td>
<td class="R25C6">792</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R3">
<td><span></span></td>
<td class="R20C1">07.08.2023</td>
<td class="R20C1">ООО "АДЮТОН-Н"</td>
<td class="R20C3"><span style="white-space:nowrap;max-width:0px;">7720714650</span></td>
<td class="R20C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;137&nbsp;459,32</span></td>
<td class="R20C1">Оплата по счету №15490545/SA от 04.08.2023 г. за ТМЦ В т.ч. НДС 20% - 189 576,55 руб.</td>
<td class="R20C6">3352</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "СМК КОНСОЛЬ"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">7734425112</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;121&nbsp;214,00</span></td>
<td class="R11C1">ОПЛ. ПО СЧЕТУ № 15494295/SA ОТ 07.08.2023Г. ЗА СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ (ТРУБЫ). В Т.Ч. НДС 20 % - 186869.00 РУБ.</td>
<td class="R11C6">70</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R3">
<td><span></span></td>
<td class="R20C1">07.08.2023</td>
<td class="R20C1">ООО "Торговый дом ВостокСтрой групп"</td>
<td class="R20C3"><span style="white-space:nowrap;max-width:0px;">7705173661</span></td>
<td class="R20C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;112&nbsp;058,00</span></td>
<td class="R20C1">Оплата по акту сверки. Сумма 1112058-00 В т.ч. НДС (20%) 185343-00</td>
<td class="R20C6">4893</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "ИНЖТЕПЛОПРОЕКТ"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">5003142130</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;095&nbsp;752,33</span></td>
<td class="R11C1">Оплата по счету № 15425451/SA от 26.07.23 за трубы и др. В том числе НДС 20 % - 182625.39 рублей.</td>
<td class="R11C6">2279</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО ТД "МТК"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">6501230824</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;083&nbsp;156,72</span></td>
<td class="R11C1">Оплата по с/ф 12584379 от 15.06.23, за сантехнику. Сумма 1083156-72 В т.ч. НДС(20%) 180526-12</td>
<td class="R11C6">1578</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R3">
<td><span></span></td>
<td class="R20C1">07.08.2023</td>
<td class="R20C1">ООО "СТД "ПЕТРОВИЧ"</td>
<td class="R20C3"><span style="white-space:nowrap;max-width:0px;">7802348846</span></td>
<td class="R20C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;068&nbsp;748,92</span></td>
<td class="R20C1">Предоплата по счету № 15384047/SA от 20.07.2023г. за сантехнику. В т.ч. НДС 20% 178124.82</td>
<td class="R20C6">85323</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R25">
<td><span></span></td>
<td class="R25C1">07.08.2023</td>
<td class="R25C1">ОДО 'СНАБСТРОЙСЕРВИС' СКРЫГАНОВА 6/4 ПОМ. 8 БЫ/Г. МИНСК БЫ/190119727 р/с BY38PJCB21340630150100000643 в "ПРИОРБАНК" ОАО МИНСК</td>
<td class="R25C3"><span></span></td>
<td class="R25C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;052&nbsp;319,30</span></td>
<td class="R25C1">{VO10200} ОПЛАТА ЗА САНТЕХИЗДЕЛИЯ ПОДОГ 8/010/1361-03 ОТ 04.07.2018,ПРИХОД ТОВАРА 07.07.2023 Г., ПО СПЕЦИФИКАЦИИ 89 ОТ 06.07.2023 Г.</td>
<td class="R25C6">1189</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ЗАО ФИРМА "ПРОКОНСИМ"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">7730041771</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;024&nbsp;298,80</span></td>
<td class="R11C1">ОПЛАТА ЗА ТРУБА ПО ДОГОВОРУ ПОСТАВКИ №8/010/1267-03 ОТ 25.06.2018 ПО СЧЕТУ N 15499536 ОТ 07.08.23, В Т.Ч. НДС 170716,47</td>
<td class="R11C6">43910</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><span></span></td>
<td class="R11C1">07.08.2023</td>
<td class="R11C1">ООО "АВАТЭК"</td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">5027126144</span></td>
<td class="R11C3"><span style="white-space:nowrap;max-width:0px;">1&nbsp;016&nbsp;832,40</span></td>
<td class="R11C1">Оплата по счету № 15481365/SA от 03.08.23 за отводы, заглушки, фланцы. В том числе НДС 20%, 169472.07 руб.</td>
<td class="R11C6">1319</td>
<td><span></span></td>
<td></td>
</tr>
</tbody></table>
`; 
const $ = cheerio.load(html);

// remove all styles
$('*').removeAttr('style');

// remove all classes
$('*').removeAttr('class');

// remove all unnecessary tags
$('font, span').each(function() {
  $(this).replaceWith($(this).html());
});

// get the cleaned HTML cod
const cleanedHtml = $.html();
console.log(cleanedHtml); 
---
<p set:html={cleanedHtml}>
</p>
